NEXT_PUBLIC_API_URL=http://localhost:8000
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_APP_NAME=Care Bridge
NEXT_PUBLIC_GENLAYER_CONTRACT_ADDRESS=0xd5149cF96bB2A87066c7f95E96e1A1865e0A9AD1
NEXT_PUBLIC_GENLAYER_RPC=https://studio.genlayer.com/api
